
<section class="about">
    <div class="container">
        <img src="../../assets/hospital.jpg"/><br>
        <h1 class="text-center"></h1>

    </div>
    <div class="aboutme">
        	<h2><b>About Us</b></h2>
<p>
A multi–specialty hospital in Thiruvananthapuram, The India Hospital has the best expertise 
and infrastructure for Nephrology and gets referral patients from almost all the leading 
hospitals in the region, both government and private sector. The full fledged hospital has
 all the facilities for other areas as well. An internationally trained team, best and latest
  equipments and homely atmosphere makes the services of The India Hospital unique.<br>
Originally started as an NRI venture by a team from USA, The India Hospital maintains highest
 international standards in health care. The 100 bedded hospital, with A/c and non-A/c rooms 
 and state of the art ICU keeps the cost of treatment at reasonable levels. It has subsidized 
 treatment for the economically disadvantaged and conducts periodic free medical camps.
  We also have working arrangements with the traditional herbal healers of Kerala and 
  facilitate authentic Ayurvedic treatment under modern life support cover for those interested. <br>
<h4  >Dr. Saroja Nair, AB (Int. Med.), AB (Nephro)</h4>
<p>
Chief Nephrologists is available from 8.AM to 7.PM
For Appointment contact: +91-471-2333193
</p>
<h4>Dr. Suresh Prabhakar, F.R.C.S., Dip (Urology)</h4>
<p>
Chief Consultant Urology is available from 8.AM to 5.PM on all working days.
For Appointment contact: +91-471 2333193
</p>
    </div>

   
</section>