.about img{
    width: 100%;
    height: 500px;
    object-position: center;
    object-fit: fill;
}
.about p {
    margin: 60px;
    padding: 0px;

}
.about h4  {
    margin: 60px;
    padding: 10px;

}
.about h2 {
    margin: 60px;
    padding: 10px;

}