<div class="card-group">
    <div class="card">
      <img src="../../assets/heart1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SUMMARY</h5>
        <p class="card-text">
        <b>  Pritish K. Tosh, M.D.</b>, is interested in emerging infections and preparedness activities related to them, ranging from collaborating with the Mayo Clinic Vaccine Research Group in basic science vaccine development to hospital systems research related to pandemic preparedness.
          
          His clinical focus is on infections in patients with hematologic malignancies and infections in patients with critical illnesses.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/corona1.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SUMMARY</h5>
        <p class="card-text">
          Research in the laboratory of<b> Tushar C. Patel, M.B., Ch.B. </b>, focuses on liver epithelial cell biology, with an emphasis on understanding the role and regulation of noncoding RNA genes in the pathogenesis of liver and biliary tract cancers. An area of emphasis is the study of cellular and molecular mechanisms by which dysregulation of cell survival signaling pathways contributes to disease pathogenesis in hepatobiliary cancers.
          
          Dr. Patel is particularly interested in the roles of extracellular vesicles and extracellular RNA in fundamental processes involved in liver cancers. In conjunction with the Extracellular RNA Communication Consortium, funded by the National Institutes of Health (NIH) Common Fund, Dr. Patel and his group are exploring novel biomarkers. Based on this research, they are developing new treatments and exploring new paradigms of disease.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/diabetes1.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SUMMARY</h5>
        <p class="card-text">
          The research group of <b>Y.S. Prakash, M.D., Ph.D.</b>, studies human lung diseases such as asthma, chronic obstructive pulmonary disease (COPD), emphysema, pulmonary fibrosis and pulmonary hypertension. Using state-of-the-art tools applied to human and animal models, Dr. Prakash's group is working toward developing novel therapies and approaches to treat such diseases in babies, children and adults, especially in women and older adults.
          
          Dr. Prakash has a unique training background as an anesthesiologist, physiologist, and electrical and biomedical engineer, which allows him to bring unique perspectives to research on the "how and why" of these clinically relevant diseases.
          
          Dr. Prakash works with an outstanding interdisciplinary team of young clinician-scientists, researchers, graduate students and technicians in his Pulmonary Cell Biology Laboratory, with the motto "you are only as good as the people you work with."</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
