<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>MIRACULOUS HOSPITAL </b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="'home'">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'about'">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'policy'">Policy</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul><a class="dropdown-item" [routerLink]="'/patient/patientlogin'">Patient</a>
                <a class="dropdown-item" [routerLink]="'/doctor/doctorlogin'">Doctor</a>
                <a class="dropdown-item" [routerLink]="'/admin/adminlogin'">Admin</a>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Registration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="'/patient/patientregister'">Patient Registration</a>
              <a class="dropdown-item" [routerLink]="'/doctor/doctorregister'">Doctor Registration</a>
            </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Lists
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"[routerLink]="'/patient/patientlist'">List Of Patient</a>
              <a class="dropdown-item"[routerLink]="'/doctor/doctorlist'">List Of Doctor</a>
            </div>
          </li>

          <!-- <a class="dropdown-item" [routerLink]="'/seller/login'">Seller Login</a> -->
        </ul>
      </div>
    </div>
  </nav>
</section>
<router-outlet></router-outlet>