
<section class="home">
    <img src="../../assets/home.jpg"/><br><br>

    <div class="homecontent">
        <h1>For  More <br> Information</h1>
        <a [routerLink]="'home'" class="btn btn-lg btn-light"><b>Discover US </b></a> &nbsp;
        <a [routerLink]="'/patient/patientlogin'" class="btn btn-lg btn-primary"><b>Login </b></a>
    </div>

    <h1 class="hh1">Welcome to Our Hospital</h1><br>
  <div><div><p class="para1">
A multi–specialty hospital in Thiruvananthapuram, The India Hospital has the best expertise
 and infrastructure for Nephrology and gets referral patients from almost all the leading
  hospitals in the region, both government and private sector. The full fledged hospital 
  has all the facilities for other areas as well. An internationally trained team,
   best and latest equipments and homely atmosphere makes the services of The India
    Hospital unique.
Originally started as an NRI venture by a team from USA, The India Hospital maintains 
highest international standards in health care. The 30 bedded hospital, with A/c and
 non-A/c rooms and state of the art ICU keeps the cost of treatment at reasonable levels. 
 It has subsidized treatment for the economically disadvantaged and conducts periodic free medical camps.
</p></div>
<hr>
<div>
    
    <h3 class="hh2">Medical Director</h3>
 	<p class="para1">
        Dr. Saroja Nair, A.B(Med) A.B (Nephro) USA
        Consultant Nephrologist.
        
    </p>
    <h3 class="hh2">Chairman</h3>
    <p class="para1">
        Madhu.S. Nair, M.S (U.S.A)
    Mr. Nair is the Chairman and Managing Director of Manhattan Hospital Pvt. Ltd, 
    holding company of India Hospital. He has an M.S.degree from American University-Washington 
    D.C. He has been a member of the University of Kerala Syndicate. He is a 
    computer professional worked in USA at The Pentagon, NASA and U.S Acadeny of Science for 20 years.
        
    </p>
   <hr>
    
</div>
</div>

<footer class="foot">
    <h5 >
        Copyright © 2011India Hospital. All Rights Reserved    Designed & Developed by  KKKDD Systems Pvt. Ltd
    </h5>
  
    
</footer>
</section>

